{
    "semi": true,
    "tabWidth": 4,
    "printWidth": 100,
    "singleQuote": true,
    "trailingComma": "none",
    "endOfLine": "auto",
    "parser": "flow",
    "bracketSpacing": false,
    "useTabs": true
}   